html {
    box-sizing: border-box;
    font-size: 62.5;
}

body {
    font-size: 1.6rem;
    background-color: white;
    color: white;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

@media only screen and (max-width: 1200rem) {
    .container {
        padding: 0 3 rem;
    }
}

@media only screen and (max-width: 768rem) {
    .container {
        max-width: 60rem;
    }
}

/* Navigation */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    height: 6.5rem;
    line-height: 6.5rem;
}

.nav.fix-nav {
    width: 100%;
    box-shadow: 0 5px 15 px rgba(0, 0, 0, 0.3);
}

.nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrapper .logo a {
    color: red;
    font-size: 2.7rem;
    font-weight: 600;
    padding: 0.5rem;
}

.wrapper .nav-list {
    display: inline-flex;
}

.nav-list li a {
    color: black;
}

.nav-list a {
    color: black;
    font-size: 1.0rem;
    padding: 0.9rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 300ms ease;
}

.nav-list a:hover {
    color: blue;
}

.icons {
    display: inline-block;
    margin: 0.5rem 1rem 0 0;
}